# This file needs to be checked
---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/air_pollution?appid=05b955804c819c65b85d8fcfefca4042&lat=37.7749&lon=-122.4194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.4194,"lat":37.7749},"list":[{"main":{"aqi":2},"components":{"co":250.34,"no":0,"no2":3.34,"o3":65.09,"so2":1.12,"pm2_5":1.42,"pm10":2.3,"nh3":0.12},"dt":1708258640}]}'
  recorded_at: Sun, 18 Feb 2024 12:17:20 GMT
recorded_with: VCR 6.2.0
