# This file needs to be checked
---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/air_pollution?appid=05b955804c819c65b85d8fcfefca4042&lat=37.7749&lon=-122.4194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.4194,"lat":37.7749},"list":[{"main":{"aqi":1},"components":{"co":267.03,"no":0,"no2":6.6,"o3":54.36,"so2":1.71,"pm2_5":1.32,"pm10":2.04,"nh3":0.23},"dt":1708260958}]}'
  recorded_at: Sun, 18 Feb 2024 12:55:58 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/air_pollution?appid=05b955804c819c65b85d8fcfefca4042&lat=37.7749&lon=-122.4194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.4194,"lat":37.7749},"list":[{"main":{"aqi":1},"components":{"co":267.03,"no":0,"no2":6.6,"o3":54.36,"so2":1.71,"pm2_5":1.32,"pm10":2.04,"nh3":0.23},"dt":1708260959}]}'
  recorded_at: Sun, 18 Feb 2024 12:56:11 GMT
recorded_with: VCR 6.2.0
