# This file needs to be checked
---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/air_pollution/history?appid=05b955804c819c65b85d8fcfefca4042&end=1708258641&lat=37.7749&lon=-122.4194&start=1708172241
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.4194,"lat":37.7749},"list":[{"main":{"aqi":2},"components":{"co":420.57,"no":0.01,"no2":34.62,"o3":38.98,"so2":2.03,"pm2_5":10.11,"pm10":14.09,"nh3":0.62},"dt":1708174800},{"main":{"aqi":1},"components":{"co":370.5,"no":0,"no2":25.02,"o3":47.21,"so2":2,"pm2_5":7.15,"pm10":9.7,"nh3":0.47},"dt":1708178400},{"main":{"aqi":1},"components":{"co":323.77,"no":0,"no2":17.14,"o3":54.36,"so2":1.97,"pm2_5":4.89,"pm10":6.6,"nh3":0.42},"dt":1708182000},{"main":{"aqi":1},"components":{"co":307.08,"no":0.02,"no2":13.71,"o3":57.94,"so2":1.91,"pm2_5":3.89,"pm10":5.29,"nh3":0.46},"dt":1708185600},{"main":{"aqi":2},"components":{"co":293.73,"no":0.11,"no2":10.28,"o3":62.[...]
